.judo{
    width: 100%;
    height: 50%;
}
.links{
    text-decoration: none;
    color: white;
    padding: 18px;
    transition: 3s;
}
body{
    background-color: #000;
    color: white;
    padding: 0;
    margin: 0;
}
a{
    color: rgba(0, 0, 255, 0.967);
}
