.judo{
    width: 100%;
    height: 50%;
}
.links{
    text-decoration: none;
    color: white;
    padding: 18px;
    transition: all;
}
body{
    background-color: #000;
    color: white;
}
