:root{
--Red: hsl(0, 100%, 74%); 
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%); 
--Grayish-Blue: hsl(246, 25%, 77%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../../images/bg-intro-desktop.png);
    background-color: var(--Red);
}
.container-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 50px;
}
.PromoBox{
    background-color: var(--Blue);
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    width: 400px;
 }
.conatainer-form{
    max-width: 400px;
    max-height: 500px;
}