@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

* {
    font-family: 'Inter', sans-serif;

}

body {
    background-color: var(--Off-Black);
}

.container_main{
   display: flex;
   height: 100vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.container_card{
    max-width: 400px;
    height: 500px;
    background-color: var(--Dark-Grey);
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
